﻿@page
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h3>Usuarios</h3>
    <ul class="nav nav-tabs">
        <li class="active" id="viewUser"><a href="#">Usuarios</a></li>
        <li id="viewGroup"><a href="#" onclick="goView('group')">Grupos</a></li>
        <li id="viewSubject"><a href="#" onclick="goView('subject')">Materias</a></li>
        <li id="viewAssign"><a href="#" onclick="goView('assign')">Asignación</a></li>
        <li id="viewQualification"><a href="#" onclick="goView('qualification')">Calificaciones</a></li>
        <li><a href="#" onclick="goView('signoff')">Cerrar Sesión</a></li>
    </ul>
    <br>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userModal">
        Nuevo Usuario
    </button>
    <br>
    <table class="table table-striped" id="tableuser">
        <thead>
            <tr>
                <th>UUID</th>
                <th>Nombre(s)</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Tipo de usuario</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            </tr>
        </tbody>
    </table>
</div>


<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="FirstName">Nombre(s)</label>
                    <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Nombre(s)">
                </div>
                <div class="form-group">
                    <label for="LastName">Apellido(s)</label>
                    <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Apellido(s)">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Email">
                    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="Type">Tipo de usuario</label>
                    <select class="form-control" id="Type" name="Type">
                        <option value="maestro">Maestro</option>
                        <option value="alumno">Alumno</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="save">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        getSession();

        $.ajax({
            type: "GET",
            url: 'api/university/list/user',
            success: function (result) {
                if (result.length > 0) {
                    for (var i = 0; i < result.length; i++) {
                        var text_btn = result[i].active == "1" ? "Desactivar" : "Activar";
                        var color_btn = result[i].active == '1' ? 'danger' : 'success'
                        $('#tableuser').find('tbody')
                            .append($('<tr><td>' + result[i].uuid + '</td><td>' + result[i].firstName + '</td><td>' + result[i].lastName + '</td><td>' + result[i].email + '</td><td>' + result[i].type + '</td><td><button class="btn btn-' + color_btn + '"  onclick="status(\'' + result[i].uuid + '\', \'' + result[i].active + '\')">' + text_btn + '</button></td></tr>'));
                    }
                }
            }
        });

        $("#save").click(function () {
            var flag = true; 
            if ($("#email").val() == '') {
                flag = false;
                alert("Favor de ingresar su email");
            }
            if ($("#password").val() == '') {
                flag = false;
                alert("Favor de ingresar su password");
            }
            if ($("#FirstName").val() == '') {
                flag = false;
                alert("Favor de ingresar Nombre(s)");
            }
            if ($("#LastName").val() == '') {
                flag = false;
                alert("Favor de ingresar Apellido(s)");
            }
            if ($("#Type").val() == '') {
                flag = false;
                alert("Favor de seleccionar Tipo de usuario");
            }

            if (flag){
                $.ajax({
                    type: "POST",
                    url: 'api/university/adduser',
                    data: {
                        user: {
                            Email: $("#email").val(),
                            Password: $("#password").val(),
                            FirstName: $("#FirstName").val(), LastName: $("#LastName").val(), Type: $("#Type").val(),  Active: 1 }
                    },
                    success: function (result) {
                        console.log(result);
                        if (result.status == "200") {
                            window.location.reload();
                        } else if (result.status == "205") {
                            alert("El usuario ya existe");
                        }
                    }
                });
            }
        });
    });

    function status(id, active) {
        console.log(id);
        console.log(active);

        $.ajax({
            type: "POST",
            url: 'api/university/disableduser',
            data: { id: id },
            success: function (result) {
                console.log(result);
                window.location.reload();
            }
        });
    }

</script>