﻿@page
@{
    ViewBag.Title = "Calificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h3>Calificación</h3>
    <ul class="nav nav-tabs">
        <li id="viewUser"><a href="#" onclick="goView('user')">Usuarios</a></li>
        <li id="viewGroup"><a href="#" onclick="goView('group')">Grupos</a></li>
        <li id="viewSubject"><a href="#" onclick="goView('subject')">Materias</a></li>
        <li id="viewAssign"><a href="#" onclick="goView('assign')">Asignación</a></li>
        <li class="active" id="viewQualification"><a href="#" onclick="goView('qualification')">Calificaciones</a></li>
        <li><a href="#" onclick="goView('signoff')">Cerrar Sesión</a></li>
    </ul>
    <br>
    <br>
    <table class="table table-striped" id="tablesubject">
        <thead>
            <tr>
                <th>Boleta</th>
                <th>Alumno</th>
                <th>Materia</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            </tr>
        </tbody>
    </table>
</div>


<div class="modal fade" id="scoresModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">A</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="groupStudentId" name="groupStudentId" />
                <div class="form-group" id="viewInputScore">
                    <label for="score">Calificación</label>
                    <input type="text" class="form-control" id="score" name="score" placeholder="Calificación">
                </div>
                <br /><br/>
                <table class="table table-striped" id="tablescore">
                    <thead>
                        <tr>
                            <th>Calificación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="save">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        getSession();
        var uri = "";
        var type_usr = "";
        if (localStorage.getItem('username') != null) {
            var uuid = JSON.parse(localStorage.getItem("username"))['uuid'];
            type_usr = JSON.parse(localStorage.getItem("username"))['type'];
            uri = (JSON.parse(localStorage.getItem("username"))['type'] == 'maestro') ? 'api/university/teacher/student/' + uuid : 'api/university/student/' + uuid;
        }

        $.ajax({
            type: "GET",
            url: uri,
            success: function (result) {
                console.log(result);
                if (result.length > 0) {
                    for (var i = 0; i < result.length; i++) {
                        var txt_button = (type_usr == 'maestro') ? 'Agregar calificación' : 'Ver mis calificaciones' ;
                        $('#tablesubject').find('tbody')
                            .append($('<tr><td>' + result[i].uuid + '</td><td>' + result[i].firstName + ' ' + result[i].lastName + '</td><td>' + result[i].code + '-' + result[i].name + '</td><td><button class="btn btn-success" onclick="scores(\'' + result[i].uuid + '\')">' + txt_button + '</button></td></tr>'));
                    }
                }
            }
        });

        $("#save").click(function () {
            var flag = true;
            if ($("#score").val() == '') {
                flag = false;
                alert("Favor seleccione la calificación");
            }

            if (flag) {
                $.ajax({
                    type: "POST",
                    url: 'api/university/add/qualification',
                    data: {
                        qualification: {
                            GroupStudentId: $("#groupStudentId").val(),
                            Score: $("#score").val(),
                            Active: 1
                        }
                    },
                    success: function (result) {
                        console.log(result);
                        if (result.status == "200") {
                            window.location.reload();
                        } else if (result.status == "205") {
                            alert("La asignacion realizada ya existe");
                        }
                    }
                });
            }
        });
    });

    function scores(id) {
        console.log(id);
        if (localStorage.getItem('username') != null) {
            var view = (JSON.parse(localStorage.getItem("username"))['type'] == 'maestro') ? 'block' : 'none';
            $("#viewInputScore").css("display", view);
            $("#save").css("display", view);
        }

        $.ajax({
            type: "GET",
            url: 'api/university/list/qualification/' + id,
            success: function (result) {
                console.log(result);
                if (result.length > 0) {
                    for (var i = 0; i < result.length; i++) {
                        $('#tablescore').find('tbody')
                            .append($('<tr><td>' + result[i].score + '</td></tr>'));
                    }
                }
            }
        });

        $("#exampleModalLabel").html("Agregar calificacion a la boleta "+id);
        $("#groupStudentId").val(id);
        $("#scoresModal").modal('show');
    }
</script>