﻿@page
@{
    ViewBag.Title = "Materias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h3>Materias</h3>
    <ul class="nav nav-tabs">
        <li id="viewUser"><a href="#" onclick="goView('user')">Usuarios</a></li>
        <li id="viewGroup"><a href="#" onclick="goView('group')">Grupos</a></li>
        <li class="active" id="viewSubject"><a href="#" onclick="goView('subject')">Materias</a></li>
        <li id="viewAssign"><a href="#" onclick="goView('assign')">Asignación</a></li>
        <li id="viewQualification"><a href="#" onclick="goView('qualification')">Calificaciones</a></li>
        <li><a href="#" onclick="goView('signoff')">Cerrar Sesión</a></li>
    </ul>
    <br>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subjectModal">
        Nueva materia
    </button>
    <br>
    <table class="table table-striped" id="tablesubject">
        <thead>
            <tr>
                <th>UUID</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            </tr>
        </tbody>
    </table>
</div>


<div class="modal fade" id="subjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Grupo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="code">Codigo de la materia</label>
                    <input type="text" class="form-control" id="code" name="code" placeholder="Codigo de la materia">
                </div>
                <div class="form-group">
                    <label for="name">Nombre de la materia</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nombre de la materia">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="save">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        getSession();

        $.ajax({
            type: "GET",
            url: 'api/university/listsubject',
            success: function (result) {
                if (result.length > 0) {
                    for (var i = 0; i < result.length; i++) {
                        var text_btn = result[i].active == "1" ? "Desactivar" : "Activar";
                        var color_btn = result[i].active == '1' ? 'danger' : 'success'
                        $('#tablesubject').find('tbody')
                            .append($('<tr><td>' + result[i].uuid + '</td><td>' + result[i].code + '</td><td>' + result[i].name + '</td><td><button class="btn btn-' + color_btn + '"  onclick="status(\'' + result[i].uuid + '\', \'' + result[i].active + '\')">' + text_btn + '</button></td></tr>'));
                    }
                }
            }
        });

        $("#save").click(function () {
            var flag = true;
            if ($("#code").val() == '') {
                flag = false;
                alert("Favor de ingrese el codigo de la materia");
            }

            if ($("#name").val() == '') {
                flag = false;
                alert("Favor de ingrese el nombre de la materia");
            }

            if (flag){
                $.ajax({
                    type: "POST",
                    url: 'api/university/addsubject',
                    data: {
                        subject: {
                            Code: $("#code").val(), Name: $("#name").val(),  Active: 1 }
                    },
                    success: function (result) {
                        console.log(result);
                        if (result.status == "200") {
                            window.location.reload();
                        } else if (result.status == "205") {
                            alert("La materia ya existe");
                        }
                    }
                });
            }
        });
    });

    function status(id, active) {
        console.log(id);
        console.log(active);

        $.ajax({
            type: "POST",
            url: 'api/university/disabledsubject',
            data: { id: id },
            success: function (result) {
                console.log(result);
                window.location.reload();
            }
        });
    }
</script>